In [41]:
'''Import libraries'''
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [42]:
data_file = "interactive_data.csv"
df = pd.read_csv(data_file)

In [43]:
df_suicides = df[df["Intent"] == "Suicide"]
tot_suicides = df_suicides.Deaths.max()
tot_deaths = df.Deaths.max()
ratio_suicides = tot_suicides/tot_deaths
ratio_suicides

0.6267448435965356

In [44]:
df_s = df_suicides

In [45]:
for name in df_s.columns:
    df_s = df_s.drop(df_s[df_s[name] == "None selected"].index)

In [46]:
#Drop un-used columns and values
df_s = df_s.drop("Population", axis=1)
df_s = df_s.drop("Rate", axis=1)
df_s = df_s.drop("Unnamed: 0", axis=1)
df_s = df_s.drop(df_s[df_s["Deaths"]==0].index)

In [47]:
# Some of the ages are written as 5 instead of under 15
df_s['Age'].replace(['5'], '0-14', inplace=True)
df_s['Age'].replace(['Under 15'], '0-14', inplace=True)
df_s = df_s.reset_index(drop=True)

In [48]:
df_s

     Intent  Gender      Age                    Race  Deaths
0   Suicide  Female     0-14                   White      19
1   Suicide  Female     0-14                   Black       1
2   Suicide  Female     0-14                Hispanic       4
3   Suicide  Female     0-14  Asian/Pacific Islander       1
4   Suicide  Female  15 - 34                   White     539
5   Suicide  Female  15 - 34                   Black      44
6   Suicide  Female  15 - 34                Hispanic      55
7   Suicide  Female  15 - 34  Asian/Pacific Islander      14
8   Suicide  Female  15 - 34                   Other      10
9   Suicide  Female  35 - 64                   White    1630
10  Suicide  Female  35 - 64                   Black      65
11  Suicide  Female  35 - 64                Hispanic      52
12  Suicide  Female  35 - 64  Asian/Pacific Islander      16
13  Suicide  Female  35 - 64                   Other      10
14  Suicide  Female      65+                   White     417
15  Suicide  Female      65+                   Black      11
16  Suicide  Female      65+                Hispanic       5
17  Suicide  Female      65+  Asian/Pacific Islander       2
18  Suicide  Female      65+                   Other       1
19  Suicide  Female     0-14                   White       1
20  Suicide    Male     0-14                   White      98
21  Suicide    Male     0-14                   Black       6
22  Suicide    Male     0-14                Hispanic       9
23  Suicide    Male     0-14  Asian/Pacific Islander       2
24  Suicide    Male  15 - 34                   White    3339
25  Suicide    Male  15 - 34                   Black     466
26  Suicide    Male  15 - 34                Hispanic     424
27  Suicide    Male  15 - 34  Asian/Pacific Islander      92
28  Suicide    Male  15 - 34                   Other      78
29  Suicide    Male  35 - 64                   White    8005
30  Suicide    Male  35 - 64                   Black     411
31  Suicide    Male  35 - 64                Hispanic     405
32  Suicide    Male  35 - 64  Asian/Pacific Islander      99
33  Suicide    Male  35 - 64                   Other      71
34  Suicide    Male      65+                   White    4409
35  Suicide    Male      65+                   Black     106
36  Suicide    Male      65+                Hispanic     104
37  Suicide    Male      65+  Asian/Pacific Islander      22
38  Suicide    Male      65+                   Other      14
39  Suicide    Male     0-14                   White       1

In [49]:
df = pd.pivot_table(df_s, index=["Race", "Gender"], values=['Deaths'], columns=['Age'])

In [50]:
df.reset_index(inplace=True)

In [51]:
df.rename(columns={'Under_15':'0-14', '15 - 34':'15-34', '35 - 64':'35-64'}, inplace = True)

In [52]:
flattened = pd.DataFrame(df.to_records())

In [57]:
flattened.rename(columns={"('Race', '')":'Race', "('Gender', '')":'Gender',"('Deaths', '15-34')":"15-34",
                         "('Deaths', '35-64')":'35-64', "('Deaths', '65+')":'65+', "('Deaths', '0-14')":'0-14'},
                inplace=True)

In [58]:
list(flattened)

['index', 'Race', 'Gender', '0-14', '15-34', '35-64', '65+']

In [59]:
df2 = flattened

In [60]:
df2

   index                    Race  Gender  0-14   15-34   35-64     65+
0      0  Asian/Pacific Islander  Female   1.0    14.0    16.0     2.0
1      1  Asian/Pacific Islander    Male   2.0    92.0    99.0    22.0
2      2                   Black  Female   1.0    44.0    65.0    11.0
3      3                   Black    Male   6.0   466.0   411.0   106.0
4      4                Hispanic  Female   4.0    55.0    52.0     5.0
5      5                Hispanic    Male   9.0   424.0   405.0   104.0
6      6                   Other  Female   NaN    10.0    10.0     1.0
7      7                   Other    Male   NaN    78.0    71.0    14.0
8      8                   White  Female  10.0   539.0  1630.0   417.0
9      9                   White    Male  49.5  3339.0  8005.0  4409.0